.calculator {
  max-width: 708px;
  margin: 0 auto 47px;
  padding: 12px 10px;
  background-color: var(--color-accent);
  color: #000;
  border-radius: 15px;
}

.header {
  margin-bottom: 11px;
  font-size: 36px;

  @media (max-width: 1340px) {
    text-align: center;
  }
}

.list {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  font-size: 24px;
}

.item {
  display: flex;
  gap: 16px;
  margin-bottom: 5px;
}

.name {
  flex-grow: 1;

  @media (max-width: 1340px) {
    word-break: break-all;
  }
}

.count {
  flex-shrink: 0;
  flex-basis: 55px;
  margin-left: auto;
}

.price {
  flex-shrink: 0;
  width: 114px;
}

.action {
  display: flex;
  gap: 17px;

  @media (max-width: 1340px) {
    flex-direction: column;
  }
}

.phone {
  flex-grow: 1;
  padding: 12px 16px;
  font-size: 36px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border-radius: 15px;
  border: none;
}

.phoneError {
  background-color: red;
}

.button {
  padding: 12px 57px;
  font-size: 36px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border-radius: 15px;
  border: none;
}